<div style="width:100%">
    <div class="every_row">
      <div class="math_style btn_style" style="color:black; background:darkgray;" (click)="zero()">AC</div>
      <div class="math_style btn_style" style="color:black; background:darkgray;" (click)="negative()" >+/-</div>
      <div class="math_style btn_style" style="color:black; background:darkgray;" (click)="operator('%')">%</div>
      <div class="math_style btn_style" (click)="operator('÷')"  (click)='activefnc("÷")'
      [ngStyle]="{'background': active === '÷' ? 'white':'orange',color: active === '÷' ? 'orange':'white'}"
      >÷</div>
    </div>
    <div class="every_row">
      <div class="number btn_style"
      (click)="InputNum('7')"
      >7</div>
      <div class="number btn_style"
      (click)="InputNum('8')"
      >8</div>
      <div class="number btn_style"
      (click)="InputNum('9')"
      >9</div>
      <div class="math_style btn_style" (click)="operator('x')" (click)='activefnc("x")'
      [ngStyle]="{'background': active === 'x' ? 'white':'orange',color: active === 'x' ? 'orange':'white'}"
      >x</div>
    </div>
    <div class="every_row">
      <div class="number btn_style"
      (click)="InputNum('4')"
      >4</div>
      <div class="number btn_style"
      (click)="InputNum('5')"
      > 5</div>
      <div class="number btn_style"
      (click)="InputNum('6')"
      >6</div>
      <div class="math_style btn_style" (click)="operator('-')" (click)='activefnc("-")'
      [ngStyle]="{'background': active === '-'? 'white':'orange',color: active === '-'? 'orange':'white'}"
      >-</div>
    </div>
    <div class="every_row">
        <div class="number btn_style"
        (click)="InputNum('1')"
        >1</div>
        <div class="number btn_style"
        (click)="InputNum('2')"
        >2</div>
        <div class="number btn_style"
        (click)="InputNum('3')"
        >3</div>
        <div class="math_style btn_style" (click)="operator('+')" (click)='activefnc("+")'
        [ngStyle]="{'background': active === '+' ? 'white':'orange',color: active === '+' ? 'orange':'white'}"
        >+</div>
      </div>
      <div class="every_row">
          <div class="number zero"
          (click)="InputNum('0')"
          >0</div>
          <div></div>
          <div class="number btn_style" (click)="dot()">.</div>
          <div class="math_style btn_style" (click)="equal()">=</div>
        </div>
      </div>
